# SQL Tasks - Part 2

In [74]:
import sqlite3
import pandas as pd

In [52]:
#connect to a database
conn = sqlite3.connect('sqlite_db_pythonsqlite.db')

In [53]:
#create a cursor object
cur = conn.cursor()

In [54]:
#list the tables in the database
cur.execute("SELECT name FROM sqlite_master WHERE type = 'table'").fetchall()

[('Bookings',), ('Facilities',), ('Members',)]

In [55]:
#list columns in a Bookings table
for row in cur.execute("PRAGMA table_info(Bookings)"):
    print(row)

(0, 'bookid', 'int(4)', 1, "'0'", 1)
(1, 'facid', 'int(1)', 0, 'NULL', 0)
(2, 'memid', 'int(2)', 0, 'NULL', 0)
(3, 'starttime', 'varchar(19)', 0, 'NULL', 0)
(4, 'slots', 'int(2)', 0, 'NULL', 0)

In [56]:
#list columns in a Bookings table
for row in cur.execute("PRAGMA table_info(Facilities)"):
    print(row)

(0, 'facid', 'int(1)', 1, "'0'", 1)
(1, 'name', 'varchar(15)', 0, 'NULL', 0)
(2, 'membercost', 'decimal(2,1)', 0, 'NULL', 0)
(3, 'guestcost', 'decimal(3,1)', 0, 'NULL', 0)
(4, 'initialoutlay', 'int(5)', 0, 'NULL', 0)
(5, 'monthlymaintenance', 'int(4)', 0, 'NULL', 0)

In [57]:
#list columns in a Bookings table
for row in cur.execute("PRAGMA table_info(Members)"):
    print(row)

(0, 'memid', 'int(2)', 1, "'0'", 1)
(1, 'surname', 'varchar(17)', 0, 'NULL', 0)
(2, 'firstname', 'varchar(9)', 0, 'NULL', 0)
(3, 'address', 'varchar(39)', 0, 'NULL', 0)
(4, 'zipcode', 'int(5)', 0, 'NULL', 0)
(5, 'telephone', 'varchar(14)', 0, 'NULL', 0)
(6, 'recommendedby', 'varchar(2)', 0, 'NULL', 0)
(7, 'joindate', 'varchar(19)', 0, 'NULL', 0)

## Answer questions

Q10: Produce a list of facilities with a total revenue less than 1000.
The output of facility name and total revenue, sorted by revenue. Remember
that there's a different cost for guests and members!

In [77]:
cur.execute("SELECT sub.name, SUM(sub.revenue) AS revenue FROM (SELECT b.facid, b.memid, f.name, f.guestcost, f.membercost, COUNT(b.facid) AS facid_count, CASE WHEN b.memid =0 THEN COUNT(b.facid)*f.guestcost ELSE COUNT(b.facid)*f.membercost END AS 'revenue' FROM Bookings AS b LEFT JOIN Facilities AS f USING (facid) GROUP BY b.facid, b.memid) AS sub GROUP BY sub.facid HAVING revenue <=1000")
Q10 = cur.fetchall()
Q10_columns = ['name', 'revenue']
Q10_df = pd.DataFrame (Q10, columns = Q10_columns)
print(Q10_df)

              name  revenue
0  Badminton Court    604.5
1     Table Tennis     90.0
2    Snooker Table    115.0
3       Pool Table    265.0

Q11: Produce a report of members and who recommended them in alphabetic surname,firstname order

In [78]:
cur.execute('SELECT m.surname, m.firstname, (r.firstname || r.surname) AS "Recommender"FROM Members AS m LEFT JOIN Members AS r ON m.recommendedby = r.memid WHERE m.recommendedby != 0 ORDER BY m.surname, m.firstname')
Q11 = cur.fetchall()
Q11_columns = ['last name', 'firstname', 'Recommender']
Q11_df = pd.DataFrame (Q11, columns = Q11_columns)
print(Q11_df)

            last name  firstname       Recommender
0               Bader   Florence    PonderStibbons
1               Baker       Anne    PonderStibbons
2               Baker    Timothy     JemimaFarrell
3              Boothe        Tim         TimRownam
4             Butters     Gerald       DarrenSmith
5              Coplin       Joan      TimothyBaker
6             Crumpet      Erica        TracySmith
7                Dare      Nancy    JaniceJoplette
8             Farrell      David              None
9             Farrell     Jemima              None
10              GUEST      GUEST              None
11            Genting    Matthew     GeraldButters
12               Hunt       John  MillicentPurview
13              Jones      David    JaniceJoplette
14              Jones    Douglas        DavidJones
15           Joplette     Janice       DarrenSmith
16          Mackenzie       Anna       DarrenSmith
17               Owen    Charles       DarrenSmith
18             Pinker      David     JemimaFarrell
19            Purview  Millicent        TracySmith
20             Rownam        Tim              None
21             Rumney  Henrietta    MatthewGenting
22             Sarwin  Ramnaresh     FlorenceBader
23              Smith     Darren              None
24              Smith     Darren              None
25              Smith       Jack       DarrenSmith
26              Smith      Tracy              None
27           Stibbons     Ponder       BurtonTracy
28              Tracy     Burton              None
29         Tupperware   Hyacinth              None
30  Worthington-Smyth      Henry        TracySmith

Q12: Find the facilities with their usage by member, but not guests

In [79]:
cur.execute("SELECT f.name, COUNT(b.memid) AS mem_usage FROM (SELECT facid, memid FROM Bookings WHERE memid !=0) AS b LEFT JOIN Facilities AS f USING (facid) GROUP BY b.facid;")
Q12 = cur.fetchall()
Q12_columns = ['name', 'member usage']
Q12_df = pd.DataFrame (Q12, columns = Q12_columns)
print(Q12_df)

              name  member usage
0   Tennis Court 1           308
1   Tennis Court 2           276
2  Badminton Court           344
3     Table Tennis           385
4   Massage Room 1           421
5   Massage Room 2            27
6     Squash Court           195
7    Snooker Table           421
8       Pool Table           783

Q13: Find the facilities usage by month, but not guests

In [80]:
cur.execute("SELECT b.months, COUNT( b.memid ) AS mem_usage FROM (SELECT strftime('%m', starttime) AS months, memid FROM Bookings WHERE memid !=0) AS b GROUP BY b.months")
Q13 = cur.fetchall()
Q13_columns = ['month', 'member usage']
Q13_df = pd.DataFrame (Q13, columns = Q13_columns)
print(Q13_df)

  month  member usage
0    07           480
1    08          1168
2    09          1512

In [50]:
#close connection
cur.close
conn.close()